<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Save any kind of <strong>Movies</strong></h1>
    <p>Create your own movie bookmark.</p>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between align-self-center my-3">
    <h1>My Lists</h1>
    <%= link_to "Add new bookmark", new_list_path, class: "btn btn-primary rounded-3 fw-bold align-self-center p-2 m-0" %>
  </div>

  <div class="grid-container">
    <% @lists.each do |list|%>
    <div>
      <h2><%= list.name %></h2>
    </div>
    <% end %>
  </div>
</div>
